@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #0f1424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: olive;
}

.container {
  max-width: 1150px;
  margin: auto;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 245px 245px;
      grid-template-rows: 245px 245px;
  grid-gap: 25px;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrap-tracking {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 245px 245px;
      grid-template-rows: 245px 245px;
  grid-gap: 25px;
}

@media screen and (max-width: 1023px) {
  .wrap-tracking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.time-tracking {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.time-tracking-top {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 35px;
}

.time-tracking-top h4 {
  font-weight: 300;
}

.time-tracking-top img {
  cursor: pointer;
}

.time-tracking-content {
  cursor: pointer;
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0;
  padding: 0 30px;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.time-tracking-content h1 {
  font-weight: 300;
  color: white;
  font-size: 40px;
  margin-bottom: 25px;
}

.time-tracking-content p {
  color: #bdc1ff;
}

.time-tracking-content:hover {
  background-color: #6f76c8;
}

.time-tracking-label {
  background-repeat: no-repeat;
  background-position: right 10% top 0;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  height: 30%;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .time-tracking {
    height: 165px;
  }
  .time-tracking-content {
    padding: 30px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .time-tracking-content h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .time-tracking-top {
    margin-bottom: 15px;
    margin-top: 0;
  }
  .time-tracking-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.active {
  color: white !important;
}

.user {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  position: relative;
}

.user-top {
  position: relative;
  height: 355px;
  border-radius: 15px;
  background-color: #5847eb;
  padding: 35px 25px;
  z-index: 1;
}

.user-avatar {
  border: 3px solid white;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.user-avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.user-report-for {
  margin-top: 45px;
  color: #bdc1ff;
  font-weight: 300;
  font-size: 16px;
}

.user-name {
  color: white;
  font-weight: 300;
  font-size: 40px;
}

.user-bottom {
  padding: 25px;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #1c1f4a;
  border-radius: 0 0 15px 15px;
}

.user-bottom-item {
  font-weight: 300;
  cursor: pointer;
}

.user-bottom-link {
  border-bottom: 1px solid transparent;
  color: #bdc1ff;
}

.user-bottom-item:hover .user-bottom-link {
  color: white;
  border-bottom: 1px solid white;
}

.user-bottom-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .user {
    height: 200px;
  }
  .user-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .user-infor {
    margin-left: 20px;
  }
  .user-avatar {
    width: 70px;
    height: 70px;
  }
  .user-name {
    font-size: 27px;
  }
  .user-report-for {
    margin-top: 0;
  }
  .user-bottom {
    height: unset;
  }
  .user-bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .user-bottom-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 374px) {
  .user-name {
    font-size: 20px;
  }
}

.tracking-work {
  background-image: url(../images/icon-work.svg);
  background-color: #ff8c66;
}

.tracking-play {
  background-image: url(../images/icon-play.svg);
  background-color: #56c2e6;
}

.tracking-social {
  background-image: url(../images/icon-social.svg);
  background-color: #7536d3;
}

.tracking-study {
  background-image: url(../images/icon-study.svg);
  background-color: #ff5c7c;
}

.tracking-self-care {
  background-image: url(../images/icon-self-care.svg);
  background-color: #f1c65b;
  background-position: right 10% top -10px;
}

.tracking-exercise {
  background-image: url(../images/icon-exercise.svg);
  background-color: #4acf81;
}
/*# sourceMappingURL=styles.css.map */